/* 改全局样式 */
*{
    margin:0;
    color:#ac9455;
    font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 1em;
}

a{
    text-decoration: none;
}

p{
    text-indent: 2em;
}

ul{
    list-style-type: none;
    padding:0;
}

li{
    line-height: 2em;
}

footer li:first-child{
    color:grey;
}

h1{
    font-size: 3em;
}
footer{
    background-color: #2b2b2b;
    font-size:0.8em;
}

/* 改elementUI样式 */
.el-menu-item,
.el-menu--horizontal>.el-menu-item,
.el-menu--horizontal>.el-submenu.is-active .el-submenu__title,
.el-menu--horizontal .el-menu .el-menu-item.is-active,
.el-menu--horizontal>.el-menu-item.is-active,
.el-menu--horizontal .el-menu .el-submenu.is-active>.el-submenu__title,
.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-submenu__title,
.el-menu--horizontal>.el-submenu .el-submenu__title,
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal>.el-submenu:focus .el-submenu__title, .el-menu--horizontal>.el-submenu:hover .el-submenu__title,
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link,
.el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover,
.el-divider__text{
    color:#ac9455;
}

.el-menu.el-menu--horizontal{
    border-bottom: none;
}

.el-divider{
    background-color: #ac9455;
}

.el-avatar{
    background: #ac9455;
}

.el-avatar i{
    color:white
}

/* 自定义样式 */
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.space-v{
    padding-top: 45px;
    padding-bottom: 32px;
}

.h100{
    min-height:100vh;
}

.w90{
    width: 90vw;
}

.font-small{
    font-size:0.3em;
}

@media(min-width:500px){
    #app{
      display: block;
    }
    #backup{
      display: none;
    }
  }
@media(max-width:500px){
    #app{
      display: none;
    }
    #backup{
      display: flex;
    }
}