/* 改全局样式 */
*{
    margin:0;
    font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 1em;
}

a{
    text-decoration: none;
}

p{
    text-indent: 2em;
}

ul{
    list-style-type: none;
    padding:0;
}

li{
    line-height: 2em;
}

footer li:first-child{
    color:grey;
}

h1{
    font-size: 3em;
}
footer{
    background-color: #2b2b2b;
    font-size:0.8em;
}
main{
    width: 100%;    
}

/* 改id样式 */
#navbar001{
    height:100vh;
    max-width: 20vw;
}

#container{
    display: flex;
}

#homeComponent{
    color:#ac9455;
}

#groupComponent, #groupComponent span,#groupComponent i,#groupComponent a{
    color:#ac9455;
}

/* 改类样式 */
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.space-v{
    padding-top: 32px;
    padding-bottom: 32px;
}

.font-small{
    font-size:0.3em;
}

.scroll-v{
    overflow: scroll;
    height: 100vh;
}


/* Media Query */
@media(min-width:500px){
    #app{
      display: block;
    }
    #backup{
      display: none;
    }
  }
@media(max-width:500px){
    #app{
      display: none;
    }
    #backup{
      display: flex;
    }
}